<div class="row-fluid" ng-show="showBooks">
<div class="span6">
        <form ng-controller="AuthorsCtrl" class="span12">
            <fieldset>
                <legend>New Author</legend>
                <input type="text" class="span6" ng-model="newAuthor.first_name" ng-required placeholder="First Name" />
                <input type="text" class="span6" ng-model="newAuthor.last_name"  ng-required placeholder="Last Name" />
                <div class="form-actions">
                    <button class="btn btn-primary pull-right" ng-click="create(newAuthor)">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span6">
        <form ng-model="newBook" class="span12">
            <fieldset>
                <legend>New book</legend>
                <select class="span6"
                    ng-model="newBook.author"
                    ng-options="author.resource_uri as author.full_name for author in authors.objects | orderBy: 'last_name'"
                    ng-required>
                </select>
                <input type="text" class="span6" ng-model="newBook.title" ng-required placeholder="Title" />
                <div class="form-actions">
                    <button class="btn btn-primary pull-right" ng-click="create(newBook)">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row-fluid" ng-show="books.objects.length">
    <!-- Search filter form -->
    <form class="span12 form-search">
        <fieldset>
            <legend>Filter</legend>
            <input type="text"
                placeholder="Title..."
                class="input-medium search-query"
                ng-model="bookFilter.title" />
            <input type="text"
                placeholder="Author..."
                class="input-medium search-query"
                ng-model="bookFilter.author_full_name" />
        </fieldset>
    </form>
</div>

<div class="row-fluid" ng-show="showBooks" ng-init="getBooks()">
    <div class="span12">
        <table ng-show="books.objects.length" class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Author</th>
                <th>Read</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr ng-repeat="book in books.objects | filter: bookFilter | orderBy: 'title'">
                    <td>{{ book.title }}</td>
                    <td>{{ book.author_full_name }}</td>
                    <td><input type="checkbox" ng-model="book.read" ng-change="update(book)" /></td>
                    <td><a class="btn" role="button" href="#deleteModal" data-toggle="modal" ng-click="select(book)"><i class="icon-minus-sign"></i></a>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Delete Book modal -->
<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">&times;
        </button>
        <h3>Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete this book?</p>
        <p><strong>{{ selectedBook.author_full_name }} - {{ selectedBook.title }}</strong></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" ng-click="remove(selectedBook)" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Delete</a>
    </div>
</div>
